<div [languagePopover] = "this.popover" header="'this.header'" [bubbleOn]="this.isNotify" [_translate]="this._translate" class="Vector">
  <button  (click)="this.onClick.emit($event);">
<img [ngClass]="classes" [ngStyle]="{ 'background-color': backgroundColor }"
   src="./stories/assets/images/language-desktop-icon.png"
       srcset="./stories/assets/images/language-desktop-icon@2x.png 2x,
             ./stories/assets/images/language-desktop-icon@3x.png 3x"
       class="Language-Desktop-Icon"  alt="form-desktop-icon"/></button>
</div>
